<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="footer">
           <!--  <div class="text-center"> -->
                <p class="copyright text-center">Copyright &copy; D2R 2015</p>
            </div>
        </div>
      </div>
</div>