<!DOCTYPE html>
<html>
<%- include _head.ejs %>

<body>
  <%- include _navbar.ejs %>
  <h1><a href="/eventcenter">Event Center</a></h1>
  <p>This Event's Name is: <%= event.name%></p>
  <p>Details: <%= event.detail %></p>
  <button class="btn btn-danger">RSVP</button>
</body>
</html>