<!DOCTYPE html>
<html>

  <% include _head %>

<body>

<!-- ===== START NAV ===== -->

  <% include _navbar %>

  <!-- ======= END NAV ======== -->


 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="img-responsive first-slide" src="/img/image1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Be apart of social change.</h1>
              <p>Volunteer or organize community events to help those in need.</p>
              <p><a class="btn btn-lg searchBtn" href="/eventcenter" role="button">Search Events</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/img/image2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Support our youth.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="/img/image3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Run for a cause that matters.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


</body>

    <!-- ==== FOOTER ==== -->

  <% include _foot %>

    <!-- ==== END FOOTER ==== -->     

</html>