<!DOCTYPE html>
<html>

  <% include _head %>

<body>

<!-- ===== START NAV ===== -->

  <% include _navbar %>

  <!-- ======= END NAV ======== -->
  <div class="row">
  <a href="/eventcenter"><button type="submit" class="btn btn-primary text-center">Search Non-Profits</button></a>
  </div>
  <!-- ======= YELLOW AND PURPLE SVG SHAPE CODE ======== -->

  <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 1600 800" style="enable-background:new 0 0 1600 800;" xml:space="preserve">
  <style type="text/css">
    .st0{fill:#151241;}
    .st1{fill:#E6CA1E;}
  </style>
  <g id="Layer_1_1_">
    <polygon class="st0" points="0,799.7 790.7,230.8 1600,801   "/>
  </g>
  <g id="Layer_2">
    <polygon class="st1" points="0,230.8 790.7,230.8 0,799.5  "/>
  </g>
  </svg>



<!-- ======= END SHAPE RENDERING ======== -->

  <!-- ======= YELP & USER CONTENTS ======== -->
    
    <div class="row-fluid" id="clear">
      <div id="yelpResults">
        <div class="yelp-result-list">
         <!-- stuff from yelp goes here -->
        </div> 
          <div class="userReviews">
            
          </div>
      </div>
    </div>


  <!-- ===== END YELP & USER CONTENTS ===== -->

</body>

    <!-- ==== FOOTER ==== -->

  <% include _foot %>

    <!-- ==== END FOOTER ==== -->     

</html>