<!DOCTYPE html>
<html>

  <% include _head %>

<body>

<!-- ===== START NAV ===== -->

  <% include _navbar %>

  <!-- ======= END NAV ======== -->


 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="img-responsive first-slide" src="/img/image1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Be a part of social change.</h1>
              <p>Volunteer or organize community events to help those in need.</p>
              <p><a class="btn btn-lg searchBtn" href="/eventcenter" role="button">Search Events</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/img/image2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Support our youth.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="/img/image3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Run for a cause that matters.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->

    <div class="container-fluid">
    <div class="row">
        <h1 class="title">
            Give your community a better profile picture
            <br>
        </h1>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
         <div class="col-md-4 col-sm-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="/img/card1.jpg"/>
                        </div>
                  
                        <div class="content">
                            <div class="main">
                                <p class="name">Help The Homeless</h3>
                                <h5>more content......</h5>
                            </div>
                            <div class="footer">
                                <p>Read More</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div> 
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Experince</h4>
                                <p>In the project since 2011</p>
                                <h4 class="text-center">Areas of Expertise</h4>
                                <p>Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                            </div>
                        </div>
                        <div class="footer">
                           
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->

         <div class="col-md-4 col-sm-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="/img/card2.jpg"/>
                        </div>
                  
                        <div class="content">
                            <div class="main">
                                <p class="name">Save Education</h3>
                                <h5>more content......</h5>
                            </div>
                            <div class="footer">
                                <p>Read More</p>
                            </div>
                        </div>
                    
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div> 
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Experince</h4>
                                <p>In the project since 2011</p>
                                <h4 class="text-center">Areas of Expertise</h4>
                                <p>Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->


    <div class="col-xs-12 col-md-4 col-sm-6">
            <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="/img/card3.jpg"/>
                        </div>
                  
                        <div class="content">
                            <div class="main">
                                <p class="name">Save Education</h3>
                                <h5>more content......</h5>
                            </div>
                            <div class="footer">
                                <p>Read More</p>
                            </div>
                        </div>
                    
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div> 
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Experince</h4>
                                <p>In the project since 2011</p>
                                <h4 class="text-center">Areas of Expertise</h4>
                                <p>Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
           </div> <!-- end col-sm-3 -->
        </div> <!-- end col-sm-10 --> 
    </div> <!-- end row -->

    <!-- ==== FOOTER ==== -->

  <% include _foot %>

    <!-- ==== END FOOTER ==== -->   
    </body>
  

</html>