<!DOCTYPE html>
<html>

  <% include _head %>

<body>

<!-- ===== START NAVIGATION ===== -->

  <% include _navbar %>

 

<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 1600 800" style="enable-background:new 0 0 1600 800;" xml:space="preserve">
<style type="text/css">
  .st0{fill:#000447;}
  .st1{fill:#E5BF23;}
</style>
<polygon class="st0" points="0,799.5 790.7,153.8 1600,801 "/>
<polygon class="st1" points="0,154 790.7,154 0,799.5 "/>
</svg>


  <!-- ======= YELP & USER CONTENTS ======== -->
    
    <div class="row-fluid" id="clear">
      <div id="yelpResults">
        <div class="yelp-result-list">
         <!-- stuff from yelp goes here -->
        </div> 
          <div class="userReviews">
            
          </div>
      </div>
    </div>


  <!-- ===== END YELP & USER CONTENTS ===== -->

</body>

    <!-- ==== FOOTER ==== -->

  <% include _foot %>

    <!-- ==== END FOOTER ==== -->     

</html>