<!DOCTYPE html>
<html>

  <% include _head %>

<body>

<!-- ===== START NAVIGATION ===== -->

  <% include _navbar %>

 
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <form id="searchForm" class="form-inline" role="search" method="GET" action="/">
        <div class="form-group">
          <input type="search" id="submitInput" class="form-control splashSearch" name="term" placeholder="Search">
        </div>
        <button type="submit" id="submitBtn"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
</div>

  <div id="triangle-up"></div>
  <div id="triangle-right"></div>

  <!-- ======= YELP & USER CONTENTS ======== -->
    
    <div class="row-fluid" id="clear">
      <div id="yelpResults">
        <div class="yelp-result-list">
         <!-- stuff from yelp goes here -->
        </div> 
          <div class="userReviews">
            
          </div>
      </div>
    </div>


  <!-- ===== END YELP & USER CONTENTS ===== -->

</body>

    <!-- ==== FOOTER ==== -->

  <% include _foot %>

    <!-- ==== END FOOTER ==== -->     

</html>