
	<div class="container-fluid">

		<!--user image and name in panel header responsive -->

		<div class="container p-t-md">
			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-default panel-profile m-b-md">
						<div class="panel-heading" style="background-image: url(http://i.imgur.com/YoRr1sU.jpg)">
							<div class="panel-body text-center">  	
								<img class="img-circle media-object"> Image
								<h3 class="profile-header-user">User_Name
							</div>
						</div>

						<!-- closes panel header -->
						<!-- beginning of panel body -->

						<!--  <div class="panel panel-default"> -->

						<div class="panel-body">
							<p class="joinedat">Joined: Time in DB ago</p>
							<ul class="panel-menu">
								<li class="panel-menu-item">
									<a href="#userModal" class="text-inherit" data-toggle="modal">


									</a>
								</li>
								<li class="panel-menu-item">
									<a href="#userModal" class="text-inherit" data-toggle="modal">

									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>


 <!-- Beginning of Compliment container ==============
 ====  Stores users first name and message history --> 

	 <div class="col-md-8">
	 	<ul class="list-group media-list media-list-stream">
	 		<li class="media list-group-item p-a">
	 			<div class="inbox text-center">INBOX</div>
	 		</li>
	 		<li class="media list-group-item p-a">
		
			
	 		<div class="media-right pull-right">
	 	
	 			</a>
	 			
	 	</ul>
 	  </div>
	</div>
</div>
</div>
</body>




