body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

h1 {
	margin-top: -20%;
	font-size: 48px;
}

h5 {
	color: #888;
	text-align: justify;
}

.row {
	margin-right: 0;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

h3 {
	font-weight: 300;
	color: #fff;
}

.modal-dialog {
	background-color: #28008E;
}

.imgthumbnail {
	width: 200px;
	height: 200px;
	border-radius: 2px;
}

.np-title {
	color: #fff;
	margin-top: -20%;
	text-align: center;
}

#createEvent {
	margin-top: -15%;
}

.events {
	margin-top: 6%;
}

/* BUTTON FILTERS */

.filter {
	color: #28008E;
	font-weight: 300;
	background-color: #fff;
	border: none;
	padding: 7px;
	margin: 7px;
	text-align: center;
}

.filter:hover {
	background-color: #28008E;
	color: #fff;
}

.clearfilter {
	background-color: #28008E;
	color: #fff;
	border: none;
}

/* EVENT LIST STYLES */

#mainKeywords {
	margin: 0 auto;
	box-shadow: none;
	padding: 10px;
}
#mainKeywords:hover {
	margin: 0 auto;
	box-shadow: none;
	padding: 10px;
	border-top: 0;
	border-left: 0;
}

.list-group p{
  padding: 15px;
  margin-bottom: 3%;
  border: 1px solid #E1E1E1;
  border-radius: 3px;
  min-height: 100px;
  background: url(/img/addevent.svg) no-repeat center center fixed;
  background-size: cover; 
  -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
}

img.eventThumbnail {
	height:200px;
	width: 200px;
	object-fit: auto;
	/*object-position: auto;*/
}

.eventPageHeader {
  background: url(/img/runner.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  width: 100%;
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
}

.col-sm-12 {
	margin-left: 0;
	padding: 0;
}

.container-fluid, .container {
	margin-left: 0;
	padding: 0;
	margin-right: 0;
}

.goDown {
	margin-top: 5%;
	margin-left: 0px;
	margin-right: 0px;
}

/* ========= NAV STYLES ========== */

.logo {
	height: 35px;
	width: 35px;
	display: inline-block;
	float: left;
	margin-top: -7px;
}

nav, .navbar, .navbar-default {
	background-color: #fff;
	border-bottom: 1px solid #00CCFF;
	margin-bottom: 0;
	border-radius: 0;
	margin-right: 0;
	margin-bottom: 0;
	color: #fff;
	padding-bottom: 0;
	clear: right;
}

.navbar-header {
	margin-right: 0;
	padding-right: 0;
	margin-bottom: 0;
}

/* ========= SPLASH PAGE STYLES ========== */

input.form-control {
	box-shadow: none;
	margin-top: 2%;
	background-color: transparent;
	border-right: none;
	border-left: none;
	border-top: none;
	border-radius: 0;
	border-bottom: 1px solid #fff;
	border-radius: 2px;
}

#newEvent {
	margin-top: 5%;	 
	background-color: transparent;
	border-right: none;
	border-left: none;
	border-top: none;
	border-radius: 2px;
	border-bottom: 1px solid #28008E;
	background-color: #28008E;
	padding: 20px;
}

/* ========= DATEPICKER CUSTOM STYLES ========== */

.ui-datepicker {
	background-color: #fff;
	border: 1px solid #00CCFF;
	border-radius: 3px;
	display: none;
	margin-top: 4px;
	padding: 10px;
	width: 300px;
	color: #330099;
	font-family: 'Open Sans', sans-serif;
}

.ui-datepicker a,
.ui-datepicker a:hover {
	text-decoration: none;
}

.ui-datepicker a:hover,
.ui-datepicker td:hover a {
	color: #2A6496;
	-webkit-transition: color 0.1s ease-in-out;
	   -moz-transition: color 0.1s ease-in-out;
	     -o-transition: color 0.1s ease-in-out;
	        transition: color 0.1s ease-in-out;
}

.ui-datepicker .ui-datepicker-header {
	margin-bottom: 4px;
	text-align: center;
}

.ui-datepicker .ui-datepicker-title {
	font-weight: 700;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	cursor: default;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	line-height: 1;
	margin-top: 2px;
	width: 30px;
}

.ui-datepicker .ui-datepicker-prev {
	float: left;
	text-align: left;
}

.ui-datepicker .ui-datepicker-next {
	float: right;
	text-align: right;
}

.ui-datepicker .ui-datepicker-prev:before {
	content: "\e079";
}

.ui-datepicker .ui-datepicker-next:before {
	content: "\e080";
}

.ui-datepicker .ui-icon {
	display: none;
}

.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
	width: 100%;
}

.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
	text-align: center;
	padding: 4px 0;
}

.ui-datepicker .ui-datepicker-calendar td {
	border-radius: 4px;
	-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	   -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	     -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.ui-datepicker .ui-datepicker-calendar td:hover {
	background-color: #eee;
	cursor: pointer;
}

.ui-datepicker .ui-datepicker-calendar td a {
	text-decoration: none;
}

.ui-datepicker .ui-datepicker-current-day {
	background-color: #00CCFF;
}

.ui-datepicker .ui-datepicker-current-day a {
	color: #fff
}

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
	background-color: #fff;
	cursor: default;
}

.ui-datepicker-buttonpane, .ui-widget-content {
	display: none;
}

/* ====== CAROUSEL ======= */

/* Padding below the footer and lighter body text */

body {
 /* padding-bottom: 40px;*/
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
img {
	object-fit: cover;
	object-position: 0 0;
	display: block;
	 width: 100%;
  	overflow: hidden;
}

.eventImage {
	margin-bottom: 3%;
	margin: 0 auto;
}

/* Carousel base class */

.carousel {
  height: 500px;
  margin-bottom: 60px;
  width: 100%;
  background-size: cover;
}
/* Since positioning the image, we need to help out the caption */

.carousel-caption {
  z-index: 10;
  font-size: 21px;
}

/* Declare heights because of positioning of img element */

.carousel .item {
  height: 500px;
  background-color: #777;
  max-width: 100%;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

/* ======== END CAROUSEL STYLES ======= */


a.eventBox {
	color: #fff;
}

h4 {
	padding: 20px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 768px) {

	.carousel-caption p {
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 1.4;
	}

	.np-title {
	font-size: 21px;
	}

	ul.dropdown-menu {
	text-align: center;
	width: 400px !important;
	}

	#createEvent {
	margin-top: -25%;
	}

	.carousel-caption {
		margin-top: -20%;
	}

	h1 {
		font-size: 36px;
	}

	.footerStyle {
		width: 100%;
	}
}

/* CARD STYLES ON EVENT-INDEX */

ul.dropdown-menu {
	width: 610px;
}

#myModalLabel {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: italic;
	text-align: center;
	font-size: 28px;
}

/* ACTIVE STATES BOX SHADOW REMOVAL FROM DEFAULT BOOTSTRAP */

form:hover,
.form-control:hover, 
input:hover, 
textarea:active, 
input:active, 
.form-control:focus, 
input:focus,
button:focus,
button:active,
.form-control:focus,
button:hover
{
	-webkit-box-shadow: none;
	box-shadow: none;
    outline:0px !important;
    -webkit-appearance:none;
}

.inbox {
	font-size: 28px;
	color: #1A083A;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

/* Button */
.button {
  margin-top: -15%;
  position: relative;
  width: 120px;
  height: 42px;
  line-height: 42px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #fff;
  color: #646464;
}

.buttonUp {
	margin-top: -5%;
}

.button > paper-ripple {
  border-radius: 2px;
  overflow: hidden;
}
.button.blue {
  background-color: #28008E;
  color: #fff;
}
.button.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button.raised:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}
.icon-button > paper-ripple {
  overflow: hidden;
  color: #646464;
}
.icon-button.blue > core-icon::shadow path {
  fill: #4285f4;
}
.icon-button.blue > paper-ripple {
  color: #4285f4;
}

.glyphicon-user {
	color: #1A083A;
}

.homelessPop {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.eventListStyle {
	color: #fff;
}
