body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h3 {
	font-weight: 300;
	color: #fff;
	font-size: 18px;
}

.np-title {
	color: #fff;
	margin-top: -15%;
	margin-left: -33%;
	text-align: center;
	font-size: 36px;
}

.events {
	clear: left;
	margin-top: 10%;
}

.eventPageHeader {
  background: url(/img/runner.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px;
  width: 100%;
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
  clear: right;
}

.col-sm-12 {
	margin-left: 0;
	padding: 0;
}

.container-fluid {
	margin-left: 0;
	padding: 0;
	margin-right: 0;
}


/* ========= NAV STYLES ========== */

.logo {
	height: 35px;
	width: 35px;
	display: inline-block;
	float: left;
	margin-top: -7px;
}

nav, .navbar, .navbar-default {
	background-color: #fff;
	border-bottom: 1px solid #00CCFF;
	margin-bottom: 0;
	border-radius: 0;
	margin-right: 0;
	margin-bottom: 0;
	color: #fff;
	padding-bottom: 0;
}

.navbar-header {
	margin-right: 0;
	padding-right: 0;
	margin-bottom: 0;
}

/* ========= SPLASH PAGE STYLES ========== */

.searchBtn {
	margin-top: -15%;
	margin: 0 auto;
	text-align: center;
	background-color: #00CCFF;
	color: #fff;
	border: none;
}

.searchBtn:hover {
	background-color: #28008E;
}

/*.purplebg {
  background-color: #161d41;
  width: 100%;
  height: 1600px;
}*/

input.form-control {
	box-shadow: none;
	margin-top: 2%;
	background-color: transparent;
	border-right: none;
	border-left: none;
	border-top: none;
	border-radius: 0;
	border-bottom: 1px solid #fff;
	border-radius: 2px;

}

.circleshape {
	margin-top: -45%;
}

#newEvent {
	clear: both;
}


form {
	margin-top: 5%;
	 background: url(/img/addevent.svg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	background-color: transparent;
	border-right: none;
	border-left: none;
	border-top: none;
	border-radius: 2px;
	border-bottom: 1px solid #28008E;
	height: 400px;
	width: 600px;
	padding: 20px;
	box-shadow: 0px 0px 8px #888;
}
/* ========= DATEPICKER CUSTOM STYLES ========== */

.ui-datepicker {
	background-color: #fff;
	border: 1px solid #00CCFF;
	border-radius: 3px;
	display: none;
	margin-top: 4px;
	padding: 10px;
	width: 300px;
	color: #330099;
	font-family: 'Open Sans', sans-serif;
}
.ui-datepicker a,
.ui-datepicker a:hover {
	text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
	color: #2A6496;
	-webkit-transition: color 0.1s ease-in-out;
	   -moz-transition: color 0.1s ease-in-out;
	     -o-transition: color 0.1s ease-in-out;
	        transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
	margin-bottom: 4px;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title {
	font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	cursor: default;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	line-height: 1;
	margin-top: 2px;
	width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
	float: left;
	text-align: left;
}
.ui-datepicker .ui-datepicker-next {
	float: right;
	text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
	content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
	content: "\e080";
}
.ui-datepicker .ui-icon {
	display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
	width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
	text-align: center;
	padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
	border-radius: 4px;
	-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	   -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	     -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
	background-color: #eee;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
	background-color: #00CCFF;
}
.ui-datepicker .ui-datepicker-current-day a {
	color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
	background-color: #fff;
	cursor: default;
}


/* ====== CAROUSEL ======= */

-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {


  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
